venv/
node_modules/
.env
dist/
.sql
.sqlite
logs/
.pm2/
*.db
prisma/dev.db
.clinerules
cline_docs/
.venv/
*.log
tools-cache.json.metrics
tools-cache.json.metrics.json
tools-cache.json
docs/
cline_docs/
mcp-repos/
*.json
.env.production
.env.development
cache/
schema.prisma
clinerules.txt
.cursor/
scripts/
data/
